#Juan Francisco Bernal Calderón
## Código: 202010643
## Entrega 3

In [43]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [42]:
%sql sqlite:///playlist.csv.db

In [39]:
import sqlite3
conn = sqlite3.connect('playlist.csv.db')

In [120]:
import seaborn as sns

In [45]:
def execute_query(query):
    return pd.read_sql_query(query, conn)

In [98]:
%%sql
SELECT * FROM song LIMIT 10

   sqlite:///music.db
 * sqlite:///playlist.csv.db
Done.

[('spotify:track:4SDywo3ykB2PEthjXvo1UP', 6, 0, 'Creedence Clearwater Revival', 'spotify:artist:3IYUhFvPQItj6xySrBmZkd', 'I Put A Spell On You', 'spotify:album:7oIftk0P8cViwNpNEdCYl2', 271786, 'Creedence Clearwater Revival'),
 ('spotify:track:229SqGbacrLSBfb9XfJczF', 6, 1, 'STRFKR', 'spotify:artist:2Tz1DTzVJ5Gyh8ZwVr6ekU', 'Bury Us Alive', 'spotify:album:5pfqk4oFycMVynOD8S2Cqs', 190360, 'Reptilians'),
 ('spotify:track:0orNm6qQT2B5WFi0l7l3PV', 6, 2, '311', 'spotify:artist:41Q0HrwWBtuUkJc7C1Rp6K', "Jackolantern's Weather", 'spotify:album:6VIeIM5tetuv7FrYxISffU', 204160, '311'),
 ('spotify:track:1hWQvA6oGVJ2mAVsZ59AaV', 6, 3, 'Nathaniel Rateliff & The Night Sweats', 'spotify:artist:02seUFsFQP7TH4hLrTj77o', 'S.O.B.', 'spotify:album:2UCyiayMoJOwBilPLQPQvK', 247612, 'Nathaniel Rateliff & The Night Sweats'),
 ('spotify:track:56SkdBKyR2zOkjk6wVFI9s', 6, 4, 'Toadies', 'spotify:artist:2QMMktUMtwMSwUZATX1cRO', 'Possum Kingdom', 'spotify:album:7tFTqVGHceSlXOaz8IylBN', 309573, 'Rubberneck'),
 ('spotify:track:6y20BV5L33R8YXM0YuI38N', 6, 5, 'Queens of the Stone Age', 'spotify:artist:4pejUc4iciQfgdX6OKulQn', 'No One Knows', 'spotify:album:4w3NeXtywU398NYW4903rY', 278746, 'Songs For The Deaf'),
 ('spotify:track:6xy6jNeNTYwjnKTDzMyHw2', 6, 6, 'The Cranberries', 'spotify:artist:7t0rwkOPGlDPEhaOcVtOt9', 'Zombie', 'spotify:album:2KsgTeLQXz7yDV1joGOd2L', 306440, 'No Need To Argue (The Complete Sessions 1994-1995)'),
 ('spotify:track:0rK3iUuoyQp6QReDPzwlYD', 6, 7, 'Misfits', 'spotify:artist:1cXi8ALPQCBHZbf0EgP4Ey', 'Monster Mash', 'spotify:album:6MzZSl19bVR3xWwFCOZyhg', 157000, 'Project 1950'),
 ('spotify:track:2k5lMt43DRIoEZPuswnULH', 6, 8, 'Misfits', 'spotify:artist:1cXi8ALPQCBHZbf0EgP4Ey', 'Ghouls Night Out - Live', 'spotify:album:4CWxS5ASY9eRE2zXP8BTRd', 102539, 'Evilive'),
 ('spotify:track:3gN4UFoOnRHlMl3K4kU5zG', 6, 9, 'Misfits', 'spotify:artist:1cXi8ALPQCBHZbf0EgP4Ey', 'Hybrid Moments', 'spotify:album:51tAz06EJxwhsk8uNfWxBo', 102266, 'Static Age')]

In [112]:
%%sql
SELECT * FROM playlists LIMIT 10

   sqlite:///music.db
 * sqlite:///playlist.csv.db
Done.

[('0-999', 0, 1493424000, 52, 47, 1, 6, 11532414, 37),
 ('0-999', 1, 1506556800, 39, 23, 1, 5, 11656470, 21),
 ('0-999', 2, 1505692800, 64, 51, 1, 18, 14039958, 31),
 ('0-999', 3, 1501027200, 126, 107, 1, 4, 28926058, 86),
 ('0-999', 4, 1401667200, 17, 16, 2, 7, 4335282, 16),
 ('0-999', 5, 1430956800, 80, 71, 1, 3, 19156557, 56),
 ('0-999', 6, 1477094400, 16, 15, 1, 2, 3408479, 13),
 ('0-999', 7, 1509321600, 53, 52, 1, 38, 12674796, 48),
 ('0-999', 8, 1508976000, 46, 37, 2, 21, 9948921, 23),
 ('0-999', 9, 1501804800, 21, 20, 1, 10, 4297488, 18)]

In [101]:
##Pregunta 1: Contar el número total de canciones
%%sql
SELECT COUNT(*) AS total_canciones
FROM song

   sqlite:///music.db
 * sqlite:///playlist.csv.db
Done.

[(529108,)]

In [104]:
## Pregunta 2: Seleccionar las playlists que tienen más de cierta cantidad de seguidores
%%sql
SELECT *
FROM playlists
WHERE num_followers > 1000

   sqlite:///music.db
 * sqlite:///playlist.csv.db
Done.

[('0-999', 765, 1499040000, 81, 37, 1038, 15, 15112167, 59),
 ('2000-2999', 2957, 1509321600, 50, 47, 2699, 14, 11765108, 46),
 ('7000-7999', 7215, 1501804800, 52, 46, 15842, 2, 11005740, 41)]

In [107]:
## Pregunta 3: Contar cuantas listas existen por número de canciones -> Utilizar CASE
%%sql
SELECT CASE
WHEN num_tracks < 100 THEN "Pocas Canciones"
WHEN num_tracks >= 100 AND num_tracks < 200 THEN "Intermedio de Canciones"
ELSE "Muchas Canciones"
END AS numero,
COUNT(*) AS total_playlists
FROM playlists
GROUP BY numero

   sqlite:///music.db
 * sqlite:///playlist.csv.db
Done.

[('Intermedio de Canciones', 1471),
 ('Muchas Canciones', 287),
 ('Pocas Canciones', 6242)]

In [114]:
## Pregunta 4: Calcular la duración total de todas las canciones en una playlist específica
%%sql
SELECT SUM(duration_ms) AS total_duracion
FROM playlists
WHERE pid = 9

   sqlite:///music.db
 * sqlite:///playlist.csv.db
Done.

[(4297488,)]

In [118]:
## Pregunta 5: Obtener la duración promedio de las canciones de las 10 playlists con más canciones
%%sql
SELECT AVG(duration_ms) AS duracion_promedio
FROM playlists
ORDER BY num_tracks DESC
LIMIT 10

   sqlite:///music.db
 * sqlite:///playlist.csv.db
Done.

[(15499950.41775,)]

In [116]:
## Pregunta 6: Calcular la suma total de duraciones de todas las canciones de un artista específico
%%sql
SELECT SUM(duration_ms) AS suma_duracion
FROM song
WHERE artist_name = "The Cranberries"

   sqlite:///music.db
 * sqlite:///playlist.csv.db
Done.

[(34031811,)]

In [119]:
## Pregunta 7: Encontrar la duración más larga y más corta de todas las canciones
%%sql
SELECT MAX(duration_ms) AS duracion_maxima, MIN(duration_ms) AS duracion_minima
FROM song

   sqlite:///music.db
 * sqlite:///playlist.csv.db
Done.

[(5279768, 0)]

In [127]:
## Pregunta 8: Calcular la duración total y promedio de todas las canciones en una playlist específica
%%sql
SELECT SUM(duration_ms) AS duracion_total, AVG(duration_ms) AS duracion_promedio
FROM playlists
WHERE pid = 9

   sqlite:///music.db
 * sqlite:///playlist.csv.db
Done.

[(4297488, 4297488.0)]

In [128]:
## Pregunta 9: Calcular la duración total de todas las canciones de un artista específico en todas las playlists
%%sql
SELECT SUM(duration_ms) AS duracion_total
FROM song
WHERE artist_name = "The Cranberries"

   sqlite:///music.db
 * sqlite:///playlist.csv.db
Done.

[(34031811,)]

In [132]:
## Pregunta 10: Calcular la cantidad total de canciones en cada playlist y ordenarlas de mayor a menor
%%sql
SELECT pid, COUNT(*) AS num_canciones
FROM playlists
GROUP BY pid
ORDER BY num_canciones ASC

   sqlite:///music.db
 * sqlite:///playlist.csv.db
Done.

[(0, 1),
 (1, 1),
 (2, 1),
 (3, 1),
 (4, 1),
 (5, 1),
 (6, 1),
 (7, 1),
 (8, 1),
 (9, 1)]