In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///spotify.db

In [ ]:
import sqlite3
conn = sqlite3.connect("spotify.db")

In [ ]:
%%sql
SELECT * FROM playlists LIMIT 10

 * sqlite:///spotify.db
Done.

[('0-999', 0, 1493424000, 52, 47, 1, 6, 11532414, 37),
 ('0-999', 1, 1506556800, 39, 23, 1, 5, 11656470, 21),
 ('0-999', 2, 1505692800, 64, 51, 1, 18, 14039958, 31),
 ('0-999', 3, 1501027200, 126, 107, 1, 4, 28926058, 86),
 ('0-999', 4, 1401667200, 17, 16, 2, 7, 4335282, 16),
 ('0-999', 5, 1430956800, 80, 71, 1, 3, 19156557, 56),
 ('0-999', 6, 1477094400, 16, 15, 1, 2, 3408479, 13),
 ('0-999', 7, 1509321600, 53, 52, 1, 38, 12674796, 48),
 ('0-999', 8, 1508976000, 46, 37, 2, 21, 9948921, 23),
 ('0-999', 9, 1501804800, 21, 20, 1, 10, 4297488, 18)]

In [ ]:
%%sql
SELECT * FROM song LIMIT 10

 * sqlite:///spotify.db
Done.

[('spotify:track:4SDywo3ykB2PEthjXvo1UP', 6, 0, 'Creedence Clearwater Revival', 'spotify:artist:3IYUhFvPQItj6xySrBmZkd', 'I Put A Spell On You', 'spotify:album:7oIftk0P8cViwNpNEdCYl2', 271786, 'Creedence Clearwater Revival'),
 ('spotify:track:229SqGbacrLSBfb9XfJczF', 6, 1, 'STRFKR', 'spotify:artist:2Tz1DTzVJ5Gyh8ZwVr6ekU', 'Bury Us Alive', 'spotify:album:5pfqk4oFycMVynOD8S2Cqs', 190360, 'Reptilians'),
 ('spotify:track:0orNm6qQT2B5WFi0l7l3PV', 6, 2, '311', 'spotify:artist:41Q0HrwWBtuUkJc7C1Rp6K', "Jackolantern's Weather", 'spotify:album:6VIeIM5tetuv7FrYxISffU', 204160, '311'),
 ('spotify:track:1hWQvA6oGVJ2mAVsZ59AaV', 6, 3, 'Nathaniel Rateliff & The Night Sweats', 'spotify:artist:02seUFsFQP7TH4hLrTj77o', 'S.O.B.', 'spotify:album:2UCyiayMoJOwBilPLQPQvK', 247612, 'Nathaniel Rateliff & The Night Sweats'),
 ('spotify:track:56SkdBKyR2zOkjk6wVFI9s', 6, 4, 'Toadies', 'spotify:artist:2QMMktUMtwMSwUZATX1cRO', 'Possum Kingdom', 'spotify:album:7tFTqVGHceSlXOaz8IylBN', 309573, 'Rubberneck'),
 ('spotify:track:6y20BV5L33R8YXM0YuI38N', 6, 5, 'Queens of the Stone Age', 'spotify:artist:4pejUc4iciQfgdX6OKulQn', 'No One Knows', 'spotify:album:4w3NeXtywU398NYW4903rY', 278746, 'Songs For The Deaf'),
 ('spotify:track:6xy6jNeNTYwjnKTDzMyHw2', 6, 6, 'The Cranberries', 'spotify:artist:7t0rwkOPGlDPEhaOcVtOt9', 'Zombie', 'spotify:album:2KsgTeLQXz7yDV1joGOd2L', 306440, 'No Need To Argue (The Complete Sessions 1994-1995)'),
 ('spotify:track:0rK3iUuoyQp6QReDPzwlYD', 6, 7, 'Misfits', 'spotify:artist:1cXi8ALPQCBHZbf0EgP4Ey', 'Monster Mash', 'spotify:album:6MzZSl19bVR3xWwFCOZyhg', 157000, 'Project 1950'),
 ('spotify:track:2k5lMt43DRIoEZPuswnULH', 6, 8, 'Misfits', 'spotify:artist:1cXi8ALPQCBHZbf0EgP4Ey', 'Ghouls Night Out - Live', 'spotify:album:4CWxS5ASY9eRE2zXP8BTRd', 102539, 'Evilive'),
 ('spotify:track:3gN4UFoOnRHlMl3K4kU5zG', 6, 9, 'Misfits', 'spotify:artist:1cXi8ALPQCBHZbf0EgP4Ey', 'Hybrid Moments', 'spotify:album:51tAz06EJxwhsk8uNfWxBo', 102266, 'Static Age')]

****Respuestas de Bloque 1:

In [ ]:
#B1 P1: total de playlists
%%sql
SELECT COUNT (*) AS totalplaylists
FROM playlists

 * sqlite:///spotify.db
Done.

[(8000,)]

In [ ]:
#B1 P2: num total canciones
%%sql
SELECT COUNT (*) AS totalsongs
FROM song

 * sqlite:///spotify.db
Done.

[(529108,)]

In [ ]:
#B1 P3: artista específico y en cuantas listas aparece
%%sql
SELECT COUNT (*)
FROM song
WHERE artist_name = "Misfits"

 * sqlite:///spotify.db
Done.

[(33,)]

****Respuestas de Bloque 2:

In [ ]:
#B2 P1: cantidad total de playlists que contienen más de 10 canciones
%%sql
SELECT COUNT (*)
FROM playlists
WHERE num_tracks >10

 * sqlite:///spotify.db
Done.

[(7658,)]

In [ ]:
#B2 P2: número de playlists con menos de 10, más de 20 y entre 10 y 20 canciones
%%sql
SELECT CASE
WHEN num_tracks < 10 THEN "listas con menos de 10"
WHEN num_tracks >= 10 AND num_tracks < 20 THEN "listas con canciones entre 10 y 20"
ELSE "listas con más de 20 canciones"
END AS listas,
COUNT (*) AS total_playlists
FROM playlists
GROUP BY listas

 * sqlite:///spotify.db
Done.

[('listas con canciones entre 10 y 20', 1028),
 ('listas con menos de 10', 254),
 ('listas con más de 20 canciones', 6718)]

In [ ]:
#B2 P3: suma total de duraciones de todas las canciones de un artista específico
%%sql
SELECT SUM (duration_ms) AS duration
FROM song
WHERE artist_name = "Misfits"

 * sqlite:///spotify.db
Done.

[(4199647,)]

In [ ]:
#B2 P4: duración más larga y más corta de todas las canciones
%%sql
SELECT
    MAX(duration_ms) AS Duracion_mas_larga,
    MIN(duration_ms) AS Duracion_mas_corta
FROM song

 * sqlite:///spotify.db
Done.

[(5279768, 0)]

****Respuestas de Bloque 3:

In [ ]:
#B3 P1: número promedio de canciones por playlist
%%sql
SELECT AVG(num_tracks)
FROM playlists

 * sqlite:///spotify.db
Done.

[(66.1385,)]

In [ ]:
#B3 P2: cantidad de artistas que tienen más de una canción contra los que tienen solo una canción
%%sql
SELECT artist_category, COUNT(artist_uri) AS artist_count
FROM (
    SELECT artist_uri,
        CASE
            WHEN COUNT(*) > 1 THEN "artistas con más de una canción"
            WHEN COUNT(*) = 1 THEN "artistas con una sola canción"
        END AS artist_category
    FROM song
    GROUP BY artist_uri
) AS artist_song_count
GROUP BY artist_category

 * sqlite:///spotify.db
Done.

[('artistas con más de una canción', 17506),
 ('artistas con una sola canción', 14395)]

In [ ]:
#B3 P3: duración total de todas las canciones en playlists con más de 50 tracks
%%sql
SELECT SUM (duration_ms) AS duracion_total
FROM playlists
WHERE num_tracks > 50

 * sqlite:///spotify.db
Done.

[(97688060688,)]