PREPARACIÓN PARA LA PROGRAMACIÓN

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
%load_ext sql

In [3]:
%sql  sqlite:////content/drive/MyDrive/music_smaller_10000.db

COMPRENSIÓN DE CÓMO ESTÁ HECHA LA BASE DE DATOS

In [ ]:
%sql SELECT name, type FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';%s

   sqlite:////content/drive/MyDrive/music_smaller_10000
 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[('slice_time', 'table'), ('playlists', 'table'), ('song', 'table')]

In [ ]:
%sql SELECT * FROM playlists limit 5

   sqlite:////content/drive/MyDrive/music_smaller_10000
 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[('0-999', 0, 1493424000, 52, 47, 1, 6, 11532414, 37),
 ('0-999', 1, 1506556800, 39, 23, 1, 5, 11656470, 21),
 ('0-999', 2, 1505692800, 64, 51, 1, 18, 14039958, 31),
 ('0-999', 3, 1501027200, 126, 107, 1, 4, 28926058, 86),
 ('0-999', 4, 1401667200, 17, 16, 2, 7, 4335282, 16)]

PREGUNTA 1 BLOQUE 1

a) Seleccionar las playlists que tienen más de cierta cantidad de seguidores (#4)

In [ ]:
%sql  SELECT COUNT(*) AS total_playlists FROM playlists

   sqlite:////content/drive/MyDrive/music_smaller_10000
 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(8000,)]

In [ ]:
%sql SELECT COUNT(*) FROM playlists WHERE (num_followers>5)

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(149,)]

In [ ]:
%sql SELECT * FROM playlists WHERE (num_followers>5) ORDER BY num_followers desc LIMIT 10

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[('7000-7999', 7215, 1501804800, 52, 46, 15842, 2, 11005740, 41),
 ('2000-2999', 2957, 1509321600, 50, 47, 2699, 14, 11765108, 46),
 ('0-999', 765, 1499040000, 81, 37, 1038, 15, 15112167, 59),
 ('9000-9999', 9307, 1502323200, 104, 32, 58, 54, 26797359, 8),
 ('3000-3999', 3305, 1426723200, 36, 28, 53, 9, 7720923, 25),
 ('3000-3999', 3089, 1507939200, 149, 107, 52, 66, 31986562, 59),
 ('3000-3999', 3980, 1462060800, 111, 107, 52, 9, 25178698, 96),
 ('2000-2999', 2416, 1482192000, 24, 19, 44, 5, 5530418, 16),
 ('7000-7999', 7206, 1480032000, 36, 34, 44, 13, 8238206, 33),
 ('2000-2999', 2282, 1495584000, 35, 27, 43, 13, 8273427, 23)]

PREGUNTA 2 BLOQUE 1

b) Contar el número total de canciones únicas (#6)

In [ ]:
%sql SELECT * FROM song limit 5

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[('spotify:track:4SDywo3ykB2PEthjXvo1UP', 6, 0, 'Creedence Clearwater Revival', 'spotify:artist:3IYUhFvPQItj6xySrBmZkd', 'I Put A Spell On You', 'spotify:album:7oIftk0P8cViwNpNEdCYl2', 271786, 'Creedence Clearwater Revival'),
 ('spotify:track:229SqGbacrLSBfb9XfJczF', 6, 1, 'STRFKR', 'spotify:artist:2Tz1DTzVJ5Gyh8ZwVr6ekU', 'Bury Us Alive', 'spotify:album:5pfqk4oFycMVynOD8S2Cqs', 190360, 'Reptilians'),
 ('spotify:track:0orNm6qQT2B5WFi0l7l3PV', 6, 2, '311', 'spotify:artist:41Q0HrwWBtuUkJc7C1Rp6K', "Jackolantern's Weather", 'spotify:album:6VIeIM5tetuv7FrYxISffU', 204160, '311'),
 ('spotify:track:1hWQvA6oGVJ2mAVsZ59AaV', 6, 3, 'Nathaniel Rateliff & The Night Sweats', 'spotify:artist:02seUFsFQP7TH4hLrTj77o', 'S.O.B.', 'spotify:album:2UCyiayMoJOwBilPLQPQvK', 247612, 'Nathaniel Rateliff & The Night Sweats'),
 ('spotify:track:56SkdBKyR2zOkjk6wVFI9s', 6, 4, 'Toadies', 'spotify:artist:2QMMktUMtwMSwUZATX1cRO', 'Possum Kingdom', 'spotify:album:7tFTqVGHceSlXOaz8IylBN', 309573, 'Rubberneck')]

In [ ]:
%sql SELECT COUNT (DISTINCT track_uri) FROM song

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(145127,)]

In [ ]:
%sql SELECT COUNT (*) FROM song

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(529108,)]

In [ ]:
%sql SELECT COUNT (DISTINCT pid) FROM song

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(8000,)]

PREGUNTA 3 BLOQUE 1

c) Seleccionar la playlist con un pid específico:incluyendo las canciones -> Utilizar un JOIN (#3)

In [ ]:
%sql SELECT * FROM playlists JOIN song ON playlists.pid = song.pid WHERE playlists.pid = 999 LIMIT 5

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[('0-999', 999, 1507766400, 44, 43, 1, 34, 9065801, 37, 'spotify:track:3rUTBx7gmn1IAAwsrjtnO0', 999, 0, 'Pvris', 'spotify:artist:6oFs3qk4VepIVFdoD4jmsy', 'Mind over Matter (Acoustic)', 'spotify:album:33oxbqzo7poSO2IbSMqrPS', 203649, 'Acoustic'),
 ('0-999', 999, 1507766400, 44, 43, 1, 34, 9065801, 37, 'spotify:track:6zYqyOJuyXDOvWJwKkZ8tg', 999, 1, 'Ingrid Michaelson', 'spotify:artist:2vm8GdHyrJh2O2MfbQFYG0', 'You and I', 'spotify:album:7o2VLivg95UduHjTMTIEIf', 148400, 'Be OK'),
 ('0-999', 999, 1507766400, 44, 43, 1, 34, 9065801, 37, 'spotify:track:0nRuVPZx2iA3KWR4xSzryl', 999, 2, 'Troye Sivan', 'spotify:artist:3WGpXCj9YhhfX11TToZcXP', 'TALK ME DOWN', 'spotify:album:5ouTDazE4LF9bVJPx1nlgW', 237464, 'Blue Neighbourhood'),
 ('0-999', 999, 1507766400, 44, 43, 1, 34, 9065801, 37, 'spotify:track:2pbxqEYiXJTvFsybGGgSAi', 999, 3, 'City and Colour', 'spotify:artist:74gcBzlQza1bSfob90yRhR', "Un-Thinkable - I'm Ready", 'spotify:album:2wCLwVcPgBG1UHszyqV6EA', 297133, 'Covers, Pt. 3'),
 ('0-999', 999, 1507766400, 44, 43, 1, 34, 9065801, 37, 'spotify:track:4v0SA7SC65KJ9ToJm15qCk', 999, 4, 'Skylar Grey', 'spotify:artist:4utLUGcTvOJFr6aqIJtYWV', 'Addicted To Love', 'spotify:album:41MBuPQn9Pha9F7hc4vLLR', 203600, 'Addicted To Love')]

PREGUNTA 1 BLOQUE 2

d) Encontrar la cantidad máxima de tracks en todas las playlists (#3)

In [ ]:
%sql SELECT MAX(num_tracks) FROM playlists

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(250,)]

PREGUNTA 2 BLOQUE 2

e) Calcular la suma total de duraciones de todas las canciones de un artista específico (#6)

In [ ]:
%sql SELECT SUM(duration_ms) FROM song WHERE artist_name = 'Taylor Swift'

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(193252463,)]

In [ ]:
%sql SELECT SUM(duration_ms) FROM (SELECT DISTINCT track_uri, duration_ms FROM song WHERE artist_name = 'Taylor Swift') song

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(25576835,)]

In [ ]:
%sql SELECT SUM(duration_ms) /60000 FROM (SELECT DISTINCT track_uri, duration_ms FROM song WHERE artist_name = 'Taylor Swift') song

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(426,)]

In [ ]:
%sql SELECT DISTINCT track_uri, track_name, duration_ms FROM song WHERE artist_name = 'Taylor Swift' ORDER BY duration_ms desc

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[('spotify:track:7hZuICN5eaCuQyp443RCt6', 'Dear John', 403920),
 ('spotify:track:4h0EXpatqJImv4VRgvX6po', 'Last Kiss', 367133),
 ('spotify:track:1IsquhJFJ0qcFZI7FeAEuN', "Back To December/Apologize/You're Not Sorry - Live/2011/Medley", 362826),
 ('spotify:track:10eBRyImhfqVvkiVEGf0N0', 'Enchanted', 352186),
 ('spotify:track:6505MLhnqTDDg4tjoUz2Wp', 'Better Than Revenge - Live/2011', 344573),
 ('spotify:track:1aBJNc2thaKyh5THWzIqHX', 'Sparks Fly - Live/2011', 336826),
 ('spotify:track:4XMP3zVxrnr58T0tjIHvpR', 'All Too Well', 327893),
 ('spotify:track:5G9AVKld9q7DCrmoY42raf', 'State Of Grace - Acoustic Version', 323080),
 ('spotify:track:6XDBA3QWX51lDJ0oZbaJJN', 'Long Live', 317946),
 ('spotify:track:0BSmbCIY36iw04azzJ3S0S', 'Drops Of Jupiter - Live/2011', 315173),
 ('spotify:track:5GPwN5iZ9ZMSXAkppj4Uvv', 'Innocent', 302253),
 ('spotify:track:3n9mzjgAzjyKawvbHzciXF', 'The Last Time', 298293),
 ('spotify:track:4t0OI7XrODjSkAu3bTPmWj', 'Fifteen', 294333),
 ('spotify:track:3DrjZArsPsoqbLzUZZV1Id', 'Back To December', 293026),
 ('spotify:track:1wJL1A0QUHJPf2cm7tsrdw', 'Never Grow Up', 290466),
 ('spotify:track:6LKjHhOW1az75pCQ9XJJtF', 'Sad Beautiful Tragic', 283680),
 ('spotify:track:1yACRKAwlXWhXXFUSkvzhD', 'Change', 280240),
 ('spotify:track:2R7C9dDqv1UPycvepBFziA', 'Superman', 275960),
 ('spotify:track:1NmVZsG18CzCAtw7rnV3yA', 'Clean', 271000),
 ('spotify:track:2KrOAg6FftbjgSKdd2a4rS', 'You Are In Love', 267106),
 ('spotify:track:3lXekiVK1ZPZbKconsys73', 'The Story Of Us', 265680),
 ('spotify:track:3RBluWmSoG2pGA1OePzGJI', 'The Story Of Us', 265666),
 ('spotify:track:49mWEy5MgtNujgT7xU3emT', 'Breathe', 263973),
 ('spotify:track:0HmCuN0Z3OX1Qrz43FLOPL', "You're Not Sorry", 261786),
 ('spotify:track:6d9IiDcFxtFVIvt9pCqyGH', 'Sparks Fly', 260933),
 ('spotify:track:4WXzzCof26KJLTK5kK53dS', 'Hey Stephen', 254306),
 ('spotify:track:06FXaDDdg0BzXl15cthMS5', "Should've Said No - Live Show / Event", 253800),
 ('spotify:track:4L560fic5PaTuCFm6CviKa', 'This Love', 250093),
 ('spotify:track:0ziBUEvoStwOKuvVC74iuc', 'Everything Has Changed - Remix', 249760),
 ('spotify:track:6K0CJLVXqbGMeJSmJ4ENKK', 'Tied Together with a Smile', 248106),
 ('spotify:track:0fM9dEhUFV4MHDuJgrcfOv', 'How You Get The Girl', 247533),
 ('spotify:track:0DxlNrE6Hy1TP3XjPV7bV0', 'How You Get the Girl', 247000),
 ('spotify:track:6RvRzl1YJTDnUvdOtV21IK', 'Wonderland', 245560),
 ('spotify:track:3esA216TyLHEkNiBCeCmcg', 'The Best Day', 245333),
 ('spotify:track:7wjbSn8QHsxqKXU5M0jXGM', 'Eyes Open', 244586),
 ('spotify:track:5P4wWhUYWM0IaVYLuZxdar', 'The Way I Loved You', 244226),
 ('spotify:track:4NAmRvqSITAAzKWnC8yRq3', 'Everything Has Changed', 243933),
 ('spotify:track:2imoPg5wVO2ZinBFKujxVi', 'Today Was A Fairytale', 243626),
 ('spotify:track:5VwFkx7JOimOGTYfha5rs1', 'I Almost Do', 242573),
 ('spotify:track:16MVSD0mGI4RMQT83Qzm69', "Should've Said No", 242200),
 ('spotify:track:28M2gifMU282QBM3fKajIS', 'Haunted', 242080),
 ('spotify:track:6Eu31gddWw0gOGO506pJYA', 'Fearless', 241986),
 ('spotify:track:5kYFVSQoPu7yRpfiHBwMUk', 'Treacherous', 240773),
 ('spotify:track:24DefNCFiWTP8OjYWiXuYe', 'Speak Now', 240760),
 ('spotify:track:2X2J0BhxaLTmnxO4pPUhSd', 'The Lucky One', 240133),
 ('spotify:track:0z9UVN8VBHJ9HdfYsOuuNf', 'Safe & Sound - from The Hunger Games Soundtrack', 240066),
 ('spotify:track:7BT9K9BDqq6HI2oWH5UMZQ', 'Treacherous - Original Demo Recording', 239720),
 ('spotify:track:7htVW723e0UeQpi1LRJHNX', 'Cold As You', 239013),
 ('spotify:track:1EQn3Uc5AyUXoiPLeyCrrg', 'Ours', 237920),
 ('spotify:track:5yEPktRqvIhko5QFF3aBhQ', 'Mean', 237733),
 ('spotify:track:0L4YCNRfXAoTvdpWeH2RGj', 'Begin Again', 237613),
 ('spotify:track:08gavXombT6KR0af88i9tA', 'Jump Then Fall', 237066),
 ('spotify:track:2ZoOmCSgj0ypVAmGd1ve4y', 'Stay Beautiful', 236053),
 ('spotify:track:0qUnBLZ8bJqUNEeQgayL9t', 'Out Of The Woods', 235800),
 ('spotify:track:4DiVC6guuabKeZ0LqLTrdH', 'Sweeter Than Fiction', 235640),
 ('spotify:track:1vrd6UOGamcKNGnSHJQlSt', 'Love Story', 235266),
 ('spotify:track:0vvt4IZOMkRug195S4MUq0', 'If This Was A Movie', 234546),
 ('spotify:track:6wn61Fzx9XMxQmieLpoIhW', 'White Horse', 234426),
 ('spotify:track:6utNwjJgCT1DPpir6HIj0r', 'Love Story - US Pop Mix', 234200),
 ('spotify:track:0Om9WAB5RS09L80DyOfTNa', 'Tim McGraw', 232106),
 ('spotify:track:1u8c2t2Cy7UBoG4ArRcF5g', 'Blank Space', 231826),
 ('spotify:track:3GCL1PydwsLodcpv0Ll1ch', 'You Belong With Me', 231133),
 ('spotify:track:0ug5NqcwcFR2xrfTkc7k8e', 'Style', 231000),
 ('spotify:track:1fscxlCZZpjzDnS8CSJmuL', 'Blank Space', 231000),
 ('spotify:track:0dBW6ZsW8skfvoRfgeerBF', 'Mine', 230706),
 ('spotify:track:0qAIiGFKLdV1xpNlEhjpq8', 'New Romantics', 230466),
 ('spotify:track:2ULNeSomDxVNmdDy8VxEBU', '22', 230133),
 ('spotify:track:47HtKpfzpAt8rQjjXWotFj', 'Forever & Always', 225320),
 ('spotify:track:4qyalTRMRH5YuEntvvMvq0', 'Come Back...Be Here', 222706),
 ('spotify:track:0cITLOYn1Sv4q27zZPqlNK', 'Red', 220826),
 ('spotify:track:3fVnlF4pGqWI9flVENcT28', 'Wildest Dreams', 220440),
 ('spotify:track:0KPNFpl66BLu5kjG6jluWx', 'A Perfectly Good Heart', 220146),
 ('spotify:track:1zsYMMoLICPfL4dPbbWsKL', 'Wildest Dreams', 220000),
 ('spotify:track:0cqRj7pUJDkTCEsJkx8snD', 'Shake It Off', 219200),
 ('spotify:track:30nn05UHfcfy0znDxV4hho', 'Shake It Off', 219000),
 ('spotify:track:72jCZdH0Lhg93z6Z4hBjgj', 'I Knew You Were Trouble.', 217973),
 ('spotify:track:7MecVsMj22MneZt7kVFaCr', 'Starlight', 217826),
 ('spotify:track:62rlxI6g2PNaWsHoiRryto', 'Haunted - Acoustic', 217613),
 ('spotify:track:2ythurkTtSiyfK7GprJoFW', 'Better Than Revenge', 217160),
 ('spotify:track:2QrQCMel6v2JiLxqrg4p2O', "Mary's Song (Oh My My My)", 213080),
 ('spotify:track:0JIdBrXGSJXS72zjF9ss9u', "I'm Only Me When I'm With You", 213053),
 ('spotify:track:10nqz67NQWWa7XPq7ycihi', 'Welcome To New York', 212600),
 ('spotify:track:0TvQLMecTE8utzoNmvXRbK', 'Bad Blood', 211933),
 ('spotify:track:6uFsE1JgZ20EXyU0JQZbUR', 'Look What You Made Me Do', 211859),
 ('spotify:track:6aU9WABbPXrV0moONji2g7', 'Bad Blood', 211000),
 ('spotify:track:0bQNuLZ0yB3MgMnJjIGWnd', 'Silent Night', 209893),
 ('spotify:track:5Gd19NupVe5X8bAqxf9Iaz', 'Gorgeous', 209680),
 ('spotify:track:19WjVVgXjdKXfLXoaDPwTM', '...Ready For It?', 208198),
 ('spotify:track:5gRYrtvyVyaCRvLt56OfuV', 'I Wish You Would', 207440),
 ('spotify:track:1U6riPmEZzICc3NVAlxihh', 'The Outside', 207106),
 ('spotify:track:1qLeEu4iXEclkLwoBlMiou', 'Stay Stay Stay', 204826),
 ('spotify:track:0kBK5JmObrCZw4OfcwvsWL', 'Invisible', 203226),
 ('spotify:track:4tXsR2Hv3l85TQTwgEn3Um', 'Teardrops On My Guitar', 203040),
 ('spotify:track:1fGsZsIkQkOspfsT24nQP6', 'Holy Ground', 201853),
 ('spotify:track:15DeqWWQB4dcEWzJg15VrN', 'Our Song', 201106),
 ('spotify:track:3rnI1UCyGJvUTVvT97VQr5', 'Tell Me Why', 200546),
 ('spotify:track:3QdYxkiZu3ilLRHU6lXYvn', 'Bad Blood', 200106),
 ('spotify:track:71i2QDJVjNMta2W6XeuyeX', 'A Place In This World', 199200),
 ('spotify:track:6Ck9WerfsyvC4v4AylUoDp', 'I Know Places', 195706),
 ('spotify:track:4NNolUeL5m2ju7kf8pdg6H', 'All You Had To Do Was Stay', 193293),
 ('spotify:track:5vyxXfD5gLlyPxGZMEjtmd', 'Crazier', 191946),
 ('spotify:track:7AEAGTc8cReDqcbPoY9gwo', 'We Are Never Ever Getting Back Together', 191880),
 ('spotify:track:119Lk6ghv7d3WFY2g7cb8s', 'Christmases When You Were Mine', 186173),
 ('spotify:track:4pJi1rVt9GNegU9kywjg4z', 'Teardrops on My Guitar - Pop Version', 179066),
 ('spotify:track:32mVHdy0bi1XKgr0ajsBlG', 'Picture To Burn', 173066)]

PREGUNTA 3 BLOQUE 2

 f) Número de canciones por lista -> Utilizar CASE (#9)

In [ ]:
%sql SELECT pid, num_tracks, CASE WHEN num_tracks <30 THEN 'BAJA'WHEN num_tracks <=40 THEN 'MEDIA' ELSE 'ALTA' END AS tracks_num_quuantity FROM playlists LIMIT 15

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(0, 52, 'ALTA'),
 (1, 39, 'MEDIA'),
 (2, 64, 'ALTA'),
 (3, 126, 'ALTA'),
 (4, 17, 'BAJA'),
 (5, 80, 'ALTA'),
 (6, 16, 'BAJA'),
 (7, 53, 'ALTA'),
 (8, 46, 'ALTA'),
 (9, 21, 'BAJA'),
 (10, 72, 'ALTA'),
 (11, 134, 'ALTA'),
 (12, 9, 'BAJA'),
 (13, 13, 'BAJA'),
 (14, 103, 'ALTA')]

In [ ]:
%sql SELECT CASE WHEN num_tracks <30 THEN 'BAJA'WHEN num_tracks <=40 THEN 'MEDIA' ELSE 'ALTA' END AS tracks_num_quuantity, COUNT(pid) AS num_playlists FROM playlists GROUP BY tracks_num_quuantity

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[('ALTA', 4627), ('BAJA', 2369), ('MEDIA', 1004)]

PREGUNTA 4 BLOQUE 2

g) Encontrar la duración más larga y más corta de todas las canciones (#5)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql  sqlite:////content/drive/MyDrive/music_smaller_10000.db

In [ ]:
%sql SELECT MAX(duration_ms)/60000, MIN(duration_ms) FROM song WHERE duration_ms is not 0

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(87, 186)]

In [ ]:
%sql SELECT track_name, duration_ms FROM song WHERE duration_ms= (SELECT MAX(duration_ms) FROM song) OR duration_ms= (SELECT MIN(duration_ms) FROM song WHERE duration_ms is not 0)

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[('Oxygen - Radio Edit', 186),
 ('Heavy Rains with Thunder and Lightning - Natural Sounds of Nature', 5279768)]

PREGUNTA 1 BLOQUE 3

h) Calcular la duración total y promedio de todas las canciones en una playlist específica (#1)

In [ ]:
%sql SELECT * FROM song LIMIT 5

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[('spotify:track:4SDywo3ykB2PEthjXvo1UP', 6, 0, 'Creedence Clearwater Revival', 'spotify:artist:3IYUhFvPQItj6xySrBmZkd', 'I Put A Spell On You', 'spotify:album:7oIftk0P8cViwNpNEdCYl2', 271786, 'Creedence Clearwater Revival'),
 ('spotify:track:229SqGbacrLSBfb9XfJczF', 6, 1, 'STRFKR', 'spotify:artist:2Tz1DTzVJ5Gyh8ZwVr6ekU', 'Bury Us Alive', 'spotify:album:5pfqk4oFycMVynOD8S2Cqs', 190360, 'Reptilians'),
 ('spotify:track:0orNm6qQT2B5WFi0l7l3PV', 6, 2, '311', 'spotify:artist:41Q0HrwWBtuUkJc7C1Rp6K', "Jackolantern's Weather", 'spotify:album:6VIeIM5tetuv7FrYxISffU', 204160, '311'),
 ('spotify:track:1hWQvA6oGVJ2mAVsZ59AaV', 6, 3, 'Nathaniel Rateliff & The Night Sweats', 'spotify:artist:02seUFsFQP7TH4hLrTj77o', 'S.O.B.', 'spotify:album:2UCyiayMoJOwBilPLQPQvK', 247612, 'Nathaniel Rateliff & The Night Sweats'),
 ('spotify:track:56SkdBKyR2zOkjk6wVFI9s', 6, 4, 'Toadies', 'spotify:artist:2QMMktUMtwMSwUZATX1cRO', 'Possum Kingdom', 'spotify:album:7tFTqVGHceSlXOaz8IylBN', 309573, 'Rubberneck')]

In [ ]:
%sql SELECT pos, duration_ms FROM song WHERE pid is 999

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(0, 203649),
 (1, 148400),
 (2, 237464),
 (3, 297133),
 (4, 203600),
 (5, 198545),
 (6, 162185),
 (7, 228186),
 (8, 191572),
 (9, 240560),
 (10, 263633),
 (11, 199358),
 (12, 268760),
 (13, 153500),
 (14, 120372),
 (15, 268979),
 (16, 125610),
 (17, 227369),
 (18, 193813),
 (19, 193000),
 (20, 174000),
 (21, 185029),
 (22, 275826),
 (23, 172133),
 (24, 218086),
 (25, 245293),
 (26, 177986),
 (27, 189400),
 (28, 219528),
 (29, 203675),
 (30, 240670),
 (31, 223226),
 (32, 105500),
 (33, 148466),
 (34, 228909),
 (35, 237007),
 (36, 140733),
 (37, 189183),
 (38, 249191),
 (39, 211466),
 (40, 263679),
 (41, 189213),
 (42, 194720),
 (43, 257194)]

In [ ]:
%sql SELECT SUM(duration_ms)/60000 FROM song WHERE pid is 999

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(151,)]

In [ ]:
%sql SELECT AVG(duration_ms)/60000 FROM song WHERE pid is 999

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(3.4340155303030304,)]

In [ ]:
%sql SELECT SUM(duration_ms)/60000 as total_duration, AVG(duration_ms)/60000 as average_duration FROM song WHERE pid is 999

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(151, 3.4340155303030304)]

PREGUNTA 2 BLOQUE 3

i) Obtener el promedio de canciones por playlist (#5)

In [ ]:
%sql SELECT * FROM playlists LIMIT 3

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[('0-999', 0, 1493424000, 52, 47, 1, 6, 11532414, 37),
 ('0-999', 1, 1506556800, 39, 23, 1, 5, 11656470, 21),
 ('0-999', 2, 1505692800, 64, 51, 1, 18, 14039958, 31)]

In [ ]:
%sql SELECT AVG(num_tracks) as average_tracks_per_playlist FROM playlists

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(66.1385,)]

PREGUNTA 3 BLOQUE 3

j) Calcular la duración total de todas las canciones en playlists con más de 50 tracks (#9)

In [ ]:
%sql SELECT SUM(duration_ms)/60000 FROM playlists WHERE num_tracks>50

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(1628134,)]

In [ ]:
%sql SELECT SUM(duration_ms)/(60000*60) as total_duration_playlists_with_more_than_50_tracks FROM playlists WHERE num_tracks>50

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(27135,)]

In [ ]:
%sql SELECT SUM(duration_ms)/(60000*60*24*365) as total_duration_playlists_with_more_than_50_tracks FROM playlists WHERE num_tracks>50

 * sqlite:////content/drive/MyDrive/music_smaller_10000.db
Done.

[(3,)]