In [107]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [108]:
%sql sqlite:///music_small.db

In [176]:
%%sql

SELECT *
FROM song
LIMIT 10

 * sqlite:///music_small.db
Done.

[('spotify:track:4SDywo3ykB2PEthjXvo1UP', 6, 0, 'Creedence Clearwater Revival', 'spotify:artist:3IYUhFvPQItj6xySrBmZkd', 'I Put A Spell On You', 'spotify:album:7oIftk0P8cViwNpNEdCYl2', 271786, 'Creedence Clearwater Revival'),
 ('spotify:track:229SqGbacrLSBfb9XfJczF', 6, 1, 'STRFKR', 'spotify:artist:2Tz1DTzVJ5Gyh8ZwVr6ekU', 'Bury Us Alive', 'spotify:album:5pfqk4oFycMVynOD8S2Cqs', 190360, 'Reptilians'),
 ('spotify:track:0orNm6qQT2B5WFi0l7l3PV', 6, 2, '311', 'spotify:artist:41Q0HrwWBtuUkJc7C1Rp6K', "Jackolantern's Weather", 'spotify:album:6VIeIM5tetuv7FrYxISffU', 204160, '311'),
 ('spotify:track:1hWQvA6oGVJ2mAVsZ59AaV', 6, 3, 'Nathaniel Rateliff & The Night Sweats', 'spotify:artist:02seUFsFQP7TH4hLrTj77o', 'S.O.B.', 'spotify:album:2UCyiayMoJOwBilPLQPQvK', 247612, 'Nathaniel Rateliff & The Night Sweats'),
 ('spotify:track:56SkdBKyR2zOkjk6wVFI9s', 6, 4, 'Toadies', 'spotify:artist:2QMMktUMtwMSwUZATX1cRO', 'Possum Kingdom', 'spotify:album:7tFTqVGHceSlXOaz8IylBN', 309573, 'Rubberneck'),
 ('spotify:track:6y20BV5L33R8YXM0YuI38N', 6, 5, 'Queens of the Stone Age', 'spotify:artist:4pejUc4iciQfgdX6OKulQn', 'No One Knows', 'spotify:album:4w3NeXtywU398NYW4903rY', 278746, 'Songs For The Deaf'),
 ('spotify:track:6xy6jNeNTYwjnKTDzMyHw2', 6, 6, 'The Cranberries', 'spotify:artist:7t0rwkOPGlDPEhaOcVtOt9', 'Zombie', 'spotify:album:2KsgTeLQXz7yDV1joGOd2L', 306440, 'No Need To Argue (The Complete Sessions 1994-1995)'),
 ('spotify:track:0rK3iUuoyQp6QReDPzwlYD', 6, 7, 'Misfits', 'spotify:artist:1cXi8ALPQCBHZbf0EgP4Ey', 'Monster Mash', 'spotify:album:6MzZSl19bVR3xWwFCOZyhg', 157000, 'Project 1950'),
 ('spotify:track:2k5lMt43DRIoEZPuswnULH', 6, 8, 'Misfits', 'spotify:artist:1cXi8ALPQCBHZbf0EgP4Ey', 'Ghouls Night Out - Live', 'spotify:album:4CWxS5ASY9eRE2zXP8BTRd', 102539, 'Evilive'),
 ('spotify:track:3gN4UFoOnRHlMl3K4kU5zG', 6, 9, 'Misfits', 'spotify:artist:1cXi8ALPQCBHZbf0EgP4Ey', 'Hybrid Moments', 'spotify:album:51tAz06EJxwhsk8uNfWxBo', 102266, 'Static Age')]

In [6]:
%%sql

SELECT *
FROM playlists
LIMIT 10

 * sqlite:///music_small.db
Done.

[('0-999', 0, 1493424000, 52, 47, 1, 6, 11532414, 37),
 ('0-999', 1, 1506556800, 39, 23, 1, 5, 11656470, 21),
 ('0-999', 2, 1505692800, 64, 51, 1, 18, 14039958, 31),
 ('0-999', 3, 1501027200, 126, 107, 1, 4, 28926058, 86),
 ('0-999', 4, 1401667200, 17, 16, 2, 7, 4335282, 16),
 ('0-999', 5, 1430956800, 80, 71, 1, 3, 19156557, 56),
 ('0-999', 6, 1477094400, 16, 15, 1, 2, 3408479, 13),
 ('0-999', 7, 1509321600, 53, 52, 1, 38, 12674796, 48),
 ('0-999', 8, 1508976000, 46, 37, 2, 21, 9948921, 23),
 ('0-999', 9, 1501804800, 21, 20, 1, 10, 4297488, 18)]

In [7]:
import json

In [109]:
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///music_small.db
Done.

[('slice_time',), ('playlists',), ('song',)]

# BLOQUE 1

### 1. CONTEO DE PLAYLISTS

In [110]:
%%sql 
SELECT COUNT(*) 
FROM playlists;

 * sqlite:///music_small.db
Done.

[(8000,)]

### 2. CONTEO DE CANCIONES

In [111]:
%%sql 
SELECT COUNT(*) 
FROM song;

 * sqlite:///music_small.db
Done.

[(529108,)]

### 3. CONTEO DE CANCIONES UNICAS

In [181]:
%%sql
SELECT COUNT(DISTINCT track_name)
FROM song;

 * sqlite:///music_small.db
Done.

[(114492,)]

# BLOQUE 2

### 1. PROMEDIO DE DURACIÓN DE CANCIONES POR NÚMERO DE SEGUIDORES

In [113]:
%%sql
SELECT num_followers, AVG(duration_ms)
FROM playlists
GROUP BY num_followers
LIMIT 10

 * sqlite:///music_small.db
Done.

[(1, 14195996.448874917),
 (2, 17322986.85),
 (3, 22226082.437659033),
 (4, 23266030.664596274),
 (5, 21181834.315068495),
 (6, 25174297.227272727),
 (7, 28265655.36),
 (8, 27568971.347826086),
 (9, 28389572.266666666),
 (10, 20163518.2)]

### 2. PLAYLISTS CON MÁS DE DIEZ CANCIONES

In [194]:
%%sql
SELECT COUNT (*)
FROM playlists
WHERE num_tracks > 10

 * sqlite:///music_small.db
Done.

[(7658,)]

### 3. CANTIDAD MÁXIMA DE CANCIONES EN TODAS LAS PLAYLISTS

In [192]:
%%sql
SELECT MAX(num_tracks)
FROM (
SELECT pid, COUNT(*) num_tracks
FROM song
GROUP BY pid
)

 * sqlite:///music_small.db
Done.

[(250,)]

### 4. Cantidad total de canciones en cada playlist de mayor a menor

In [172]:
%%sql
SELECT pid, COUNT(*)
FROM playlists
GROUP BY pid
ORDER BY num_tracks DESC
LIMIT 10

 * sqlite:///music_small.db
Done.

[(7063, 1),
 (10160, 1),
 (10211, 1),
 (3149, 1),
 (7278, 1),
 (2500, 1),
 (6627, 1),
 (10063, 1),
 (2183, 1),
 (3626, 1)]

# BLOQUE 3

### 1. SUMA DE DURACIÓN DE TODAS LAS CANCIONES DE BAD BUNNY

In [184]:
%%sql
SELECT SUM(duration_ms)
FROM song
WHERE artist_name = 'Bad Bunny'

 * sqlite:///music_small.db
Done.

[(15007588,)]

### 2. PROMEDIO DE CANCIONES POR PLAYLIST

In [203]:
%%sql
SELECT AVG(num_tracks)
FROM playlists
GROUP BY pid
LIMIT 10

 * sqlite:///music_small.db
Done.

[(52.0,),
 (39.0,),
 (64.0,),
 (126.0,),
 (17.0,),
 (80.0,),
 (16.0,),
 (53.0,),
 (46.0,),
 (21.0,)]

### 3. PLAYLISTS QUE CONTIENEN MÁS DE UNA CANCIÓN DEL ALBÚM 311

In [204]:
%%sql
SELECT COUNT (*)
FROM song JOIN(playlists)
WHERE album_name = '311'

 * sqlite:///music_small.db
Done.

[(296000,)]