## Sofía Biermann 
### Entrega Python

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///music.db

In [8]:
import sqlite3

In [10]:
conn = sqlite3.connect ('music.db')

In [13]:
%%sql
SELECT *
FROM playlists
LIMIT 10

 * sqlite:///music.db
Done.

[('0-999', 0, 1493424000, 52, 47, 1, 6, 11532414, 37),
 ('0-999', 1, 1506556800, 39, 23, 1, 5, 11656470, 21),
 ('0-999', 2, 1505692800, 64, 51, 1, 18, 14039958, 31),
 ('0-999', 3, 1501027200, 126, 107, 1, 4, 28926058, 86),
 ('0-999', 4, 1401667200, 17, 16, 2, 7, 4335282, 16),
 ('0-999', 5, 1430956800, 80, 71, 1, 3, 19156557, 56),
 ('0-999', 6, 1477094400, 16, 15, 1, 2, 3408479, 13),
 ('0-999', 7, 1509321600, 53, 52, 1, 38, 12674796, 48),
 ('0-999', 8, 1508976000, 46, 37, 2, 21, 9948921, 23),
 ('0-999', 9, 1501804800, 21, 20, 1, 10, 4297488, 18)]

In [15]:
%%sql
SELECT *
FROM song
LIMIT 10

 * sqlite:///music.db
Done.

[('spotify:track:4SDywo3ykB2PEthjXvo1UP', 6, 0, 'Creedence Clearwater Revival', 'spotify:artist:3IYUhFvPQItj6xySrBmZkd', 'I Put A Spell On You', 'spotify:album:7oIftk0P8cViwNpNEdCYl2', 271786, 'Creedence Clearwater Revival'),
 ('spotify:track:229SqGbacrLSBfb9XfJczF', 6, 1, 'STRFKR', 'spotify:artist:2Tz1DTzVJ5Gyh8ZwVr6ekU', 'Bury Us Alive', 'spotify:album:5pfqk4oFycMVynOD8S2Cqs', 190360, 'Reptilians'),
 ('spotify:track:0orNm6qQT2B5WFi0l7l3PV', 6, 2, '311', 'spotify:artist:41Q0HrwWBtuUkJc7C1Rp6K', "Jackolantern's Weather", 'spotify:album:6VIeIM5tetuv7FrYxISffU', 204160, '311'),
 ('spotify:track:1hWQvA6oGVJ2mAVsZ59AaV', 6, 3, 'Nathaniel Rateliff & The Night Sweats', 'spotify:artist:02seUFsFQP7TH4hLrTj77o', 'S.O.B.', 'spotify:album:2UCyiayMoJOwBilPLQPQvK', 247612, 'Nathaniel Rateliff & The Night Sweats'),
 ('spotify:track:56SkdBKyR2zOkjk6wVFI9s', 6, 4, 'Toadies', 'spotify:artist:2QMMktUMtwMSwUZATX1cRO', 'Possum Kingdom', 'spotify:album:7tFTqVGHceSlXOaz8IylBN', 309573, 'Rubberneck'),
 ('spotify:track:6y20BV5L33R8YXM0YuI38N', 6, 5, 'Queens of the Stone Age', 'spotify:artist:4pejUc4iciQfgdX6OKulQn', 'No One Knows', 'spotify:album:4w3NeXtywU398NYW4903rY', 278746, 'Songs For The Deaf'),
 ('spotify:track:6xy6jNeNTYwjnKTDzMyHw2', 6, 6, 'The Cranberries', 'spotify:artist:7t0rwkOPGlDPEhaOcVtOt9', 'Zombie', 'spotify:album:2KsgTeLQXz7yDV1joGOd2L', 306440, 'No Need To Argue (The Complete Sessions 1994-1995)'),
 ('spotify:track:0rK3iUuoyQp6QReDPzwlYD', 6, 7, 'Misfits', 'spotify:artist:1cXi8ALPQCBHZbf0EgP4Ey', 'Monster Mash', 'spotify:album:6MzZSl19bVR3xWwFCOZyhg', 157000, 'Project 1950'),
 ('spotify:track:2k5lMt43DRIoEZPuswnULH', 6, 8, 'Misfits', 'spotify:artist:1cXi8ALPQCBHZbf0EgP4Ey', 'Ghouls Night Out - Live', 'spotify:album:4CWxS5ASY9eRE2zXP8BTRd', 102539, 'Evilive'),
 ('spotify:track:3gN4UFoOnRHlMl3K4kU5zG', 6, 9, 'Misfits', 'spotify:artist:1cXi8ALPQCBHZbf0EgP4Ey', 'Hybrid Moments', 'spotify:album:51tAz06EJxwhsk8uNfWxBo', 102266, 'Static Age')]

## Bloque 1 pregunta 1: 
Top 20 de playlists mas recientes

In [17]:
%%sql
SELECT *
FROM playlists
ORDER BY modified_at DESC
LIMIT 20

 * sqlite:///music.db
Done.

[('0-999', 20, 1509494400, 14, 9, 3, 11, 2165531, 6),
 ('0-999', 324, 1509494400, 74, 63, 3, 21, 22279115, 40),
 ('0-999', 350, 1509494400, 83, 70, 1, 5, 19787271, 40),
 ('0-999', 984, 1509494400, 203, 150, 1, 50, 48616835, 78),
 ('2000-2999', 2150, 1509494400, 104, 93, 1, 65, 23038338, 68),
 ('2000-2999', 2318, 1509494400, 236, 159, 1, 29, 54021904, 115),
 ('2000-2999', 2327, 1509494400, 142, 92, 1, 29, 31584411, 69),
 ('2000-2999', 2339, 1509494400, 183, 142, 1, 110, 51666285, 111),
 ('2000-2999', 2558, 1509494400, 67, 59, 1, 40, 16308964, 54),
 ('2000-2999', 2573, 1509494400, 37, 25, 1, 12, 8589783, 15),
 ('2000-2999', 2810, 1509494400, 40, 34, 1, 26, 8843240, 27),
 ('3000-3999', 3248, 1509494400, 141, 92, 1, 73, 30644891, 47),
 ('3000-3999', 3416, 1509494400, 31, 31, 1, 9, 7363056, 29),
 ('3000-3999', 3928, 1509494400, 40, 36, 1, 17, 9071291, 31),
 ('6000-6999', 6249, 1509494400, 73, 54, 1, 17, 15443194, 45),
 ('6000-6999', 6625, 1509494400, 24, 20, 1, 14, 5303944, 18),
 ('7000-7999', 7025, 1509494400, 111, 31, 1, 16, 19375137, 21),
 ('7000-7999', 7487, 1509494400, 168, 136, 1, 54, 36263538, 109),
 ('7000-7999', 7493, 1509494400, 78, 49, 3, 39, 17624408, 34),
 ('8000-8999', 8193, 1509494400, 106, 89, 1, 80, 25185678, 68)]

## Bloque 1 pregunta 2:
Contar el numero total de playlists

In [18]:
%%sql
SELECT 
COUNT (*) AS total_playlists
FROM playlists

 * sqlite:///music.db
Done.

[(8000,)]

## Bloque 1 pregunta 11:
Contar cuantas listas existen por número de canciones

In [44]:
##Primero busco cual es la cantidad maxima de tracks en una plylist para sbaer los límites del CASE
%%sql
SELECT *
FROM playlists
ORDER BY num_tracks DESC
LIMIT 1

 * sqlite:///music.db
Done.

[('7000-7999', 7063, 1489017600, 250, 140, 1, 13, 56260788, 63)]

In [30]:
%%sql
SELECT 
CASE
WHEN num_tracks < 50 THEN 'Baja'
WHEN num_tracks >= 50 AND num_tracks <= 200 THEN 'Media'
ELSE 'Alta'
END AS numcanciones,
COUNT (*)
FROM playlists
GROUP BY numcanciones

 * sqlite:///music.db
Done.

[('Alta', 277), ('Baja', 4037), ('Media', 3686)]

## Bloque 2 pregunta 3:
Encontrar la cantidad máxima de tracks en todas las playlists

In [40]:
%%sql
SELECT MAX (num_tracks) AS max_tracks
FROM playlists

 * sqlite:///music.db
Done.

[(250,)]

## Bloque 2 pregunta 4:
Contar la cantidad total de playlists que contienen más de 10 canciones

In [47]:
%%sql
SELECT 
COUNT (*) AS playlists_masdiez
FROM playlists
WHERE num_tracks >10

 * sqlite:///music.db
Done.

[(7658,)]

## Bloque 2 pregunta 6:
Calcular la suma total de duraciones de todas las canciones de un artista específico

In [50]:
%%sql
SELECT SUM (duration_ms) AS duración_total
FROM song 
WHERE artist_name = 'Misfits'

 * sqlite:///music.db
Done.

[(4199647,)]

## Bloque 2 pregunta 7:
Contar la cantidad de playlists que contienen canciones de más de un álbum

In [54]:
%%sql
SELECT COUNT (*) AS playlist_masdeunalbum
FROM playlists
HAVING num_albums >1

 * sqlite:///music.db
Done.

[(8000,)]

## Boque 3 pregunta 1:
Calcular la duración total y promedio de todas las canciones en una playlist específica

In [56]:
%%sql
SELECT SUM (duration_ms) AS duración_total,
AVG (duration_ms) AS promedio
FROM song
WHERE pid = 1

 * sqlite:///music.db

Done.

[(11656470, 298883.8461538461)]

## Bloque 3 pregunta 5: 
Obtener el promedio de canciones por playlist

In [59]:
%%sql
SELECT AVG (num_tracks) AS promedio_canciones
FROM playlists

 * sqlite:///music.db
Done.

[(66.1385,)]

## Bloque 3 pregunta 9:
Calcular la duración total de todas las canciones en playlists con más de 50 tracks

In [63]:
%%sql 
SELECT SUM (duration_ms) AS duracion_total
FROM playlists
HAVING num_tracks > 50

 * sqlite:///music.db
Done.

[(123999603342,)]