#### Mayo 2024 
[CanciÃ³n mas escuchada en Colombia en el 2017 ðŸŽ¼ðŸŽ¼](https://open.spotify.com/track/7qiZfU4dY1lWllzX7mPBI3?si=6855296ef56a47ae)
# Diseccionando una base de datos 
### [Por: Carlos Eduardo CortÃ©s Gomez](https://carloseduardo.omg.lol/)
-------------------------------------

#### Paso 1: Instalar SQLalchemy

In [ ]:
### instalar sql para vscode
!pip install ipython-sql sqlalchemy

#### Paso 2: Cargar SQL para Jupyter

Se utiliza el siguiente operador para habilitar SQL en VScode

In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

#### Paso 3: Cargar la Base de Datos en Memoria

Se utiliza el siguiente operador para habilitar la base que debe estar en la misma carpeta que el cuaderno

In [6]:
%sql sqlite:///music.db

#### Paso 4: Lanzar queries

Ejemplo

In [11]:
%%sql
SELECT COUNT(DISTINCT slice)
FROM playlists

 * sqlite:///music.db
Done.

[(484,)]