#### Mayo 2024 
[CanciÃ³n mas escuchada en Colombia en el 2017 ðŸŽ¼ðŸŽ¼](https://open.spotify.com/track/7qiZfU4dY1lWllzX7mPBI3?si=6855296ef56a47ae)
# Diseccionando una base de datos 
### [Por: Carlos Eduardo CortÃ©s Gomez](https://carloseduardo.omg.lol/)
-------------------------------------

#### Paso 1: Instalar SQLalchemy

In [1]:
### instalar sql para vscode
!pip install ipython-sql sqlalchemy

Requirement already satisfied: ipython-sql in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (0.5.0)
Requirement already satisfied: sqlalchemy in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (2.0.29)
Requirement already satisfied: sqlparse in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: prettytable in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: ipython-genutils in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.18.0)
Requirement already satisfied: pygments in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (2.10.0)
Requirement already satisfied: pexpect>4.3 in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: traitlets>=4.2 in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (5.1.0)
Requirement already satisfied: decorator in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (5.1.0)
Requirement already satisfied: appnope in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: backcall in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from ipython->ipython-sql) (58.0.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/carloscortes/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.5)

#### Paso 2: Cargar SQL para Jupyter

Se utiliza el siguiente operador para habilitar SQL en VScode

In [2]:
%load_ext sql

#### Paso 3: Cargar la Base de Datos en Memoria

Se utiliza el siguiente operador para habilitar la base que debe estar en la misma carpeta que el cuaderno

In [7]:
%sql sqlite:///music.db

In [8]:
# List all tables in the database
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///music.db
   sqlite:///music_smaller.db
Done.

[('slice_time',), ('playlists',), ('song',)]

#### Paso 4: Lanzar queries

Ejemplo

In [9]:
%%sql 
SELECT * 
FROM playlists
LIMIT 100
;

 * sqlite:///music.db
   sqlite:///music_smaller.db
Done.

[('0-999', 0, 1493424000, 52, 47, 1, 6, 11532414, 37),
 ('0-999', 1, 1506556800, 39, 23, 1, 5, 11656470, 21),
 ('0-999', 2, 1505692800, 64, 51, 1, 18, 14039958, 31),
 ('0-999', 3, 1501027200, 126, 107, 1, 4, 28926058, 86),
 ('0-999', 4, 1401667200, 17, 16, 2, 7, 4335282, 16),
 ('0-999', 5, 1430956800, 80, 71, 1, 3, 19156557, 56),
 ('0-999', 6, 1477094400, 16, 15, 1, 2, 3408479, 13),
 ('0-999', 7, 1509321600, 53, 52, 1, 38, 12674796, 48),
 ('0-999', 8, 1508976000, 46, 37, 2, 21, 9948921, 23),
 ('0-999', 9, 1501804800, 21, 20, 1, 10, 4297488, 18),
 ('0-999', 10, 1509321600, 72, 60, 2, 36, 16403398, 40),
 ('0-999', 11, 1365379200, 134, 117, 1, 16, 35655891, 99),
 ('0-999', 12, 1481587200, 9, 9, 1, 3, 1981349, 9),
 ('0-999', 13, 1509062400, 13, 13, 1, 5, 3039124, 12),
 ('0-999', 14, 1382572800, 103, 79, 1, 3, 25837498, 61),
 ('0-999', 15, 1432684800, 7, 5, 1, 3, 1818256, 3),
 ('0-999', 16, 1491696000, 105, 94, 1, 45, 24695913, 81),
 ('0-999', 17, 1465430400, 79, 69, 1, 11, 17627215, 61),
 ('0-999', 18, 1507334400, 68, 66, 1, 18, 15917464, 55),
 ('0-999', 19, 1430956800, 85, 82, 1, 54, 21627256, 70),
 ('0-999', 20, 1509494400, 14, 9, 3, 11, 2165531, 6),
 ('0-999', 21, 1479081600, 15, 15, 1, 8, 3709224, 15),
 ('0-999', 22, 1509408000, 42, 39, 2, 15, 9077152, 37),
 ('0-999', 23, 1506470400, 20, 16, 1, 4, 5843925, 7),
 ('0-999', 24, 1475971200, 7, 5, 1, 4, 1693822, 3),
 ('0-999', 25, 1488412800, 41, 38, 2, 8, 9067261, 31),
 ('0-999', 26, 1425427200, 26, 20, 1, 7, 6442086, 15),
 ('0-999', 27, 1508803200, 12, 11, 1, 5, 2902584, 8),
 ('0-999', 28, 1509062400, 81, 57, 7, 26, 18831207, 37),
 ('0-999', 29, 1506384000, 40, 39, 1, 16, 8059613, 39),
 ('0-999', 30, 1430265600, 157, 17, 1, 6, 34463029, 9),
 ('0-999', 31, 1495324800, 97, 94, 1, 34, 20594090, 83),
 ('0-999', 32, 1502928000, 106, 85, 1, 9, 24656509, 72),
 ('0-999', 33, 1431302400, 17, 14, 1, 7, 4295055, 11),
 ('0-999', 34, 1481328000, 80, 72, 1, 39, 18149784, 65),
 ('0-999', 35, 1507593600, 70, 58, 1, 56, 15247117, 52),
 ('0-999', 36, 1384732800, 9, 9, 1, 3, 1895637, 5),
 ('0-999', 37, 1456790400, 72, 69, 1, 7, 16626596, 55),
 ('0-999', 38, 1503446400, 53, 51, 1, 16, 12636678, 42),
 ('0-999', 39, 1479600000, 58, 34, 1, 14, 12611044, 17),
 ('0-999', 40, 1490659200, 85, 80, 6, 27, 18672695, 71),
 ('0-999', 41, 1496448000, 209, 105, 1, 13, 49193451, 55),
 ('0-999', 42, 1490572800, 158, 131, 2, 51, 33759110, 106),
 ('0-999', 43, 1398124800, 21, 9, 1, 5, 4581750, 9),
 ('0-999', 44, 1430611200, 33, 29, 3, 18, 6837317, 21),
 ('0-999', 45, 1498521600, 76, 69, 1, 5, 18755470, 54),
 ('0-999', 46, 1434412800, 11, 11, 1, 2, 2724593, 8),
 ('0-999', 47, 1465084800, 15, 15, 1, 15, 3857335, 14),
 ('0-999', 48, 1498176000, 32, 20, 1, 12, 7163190, 13),
 ('0-999', 49, 1508544000, 45, 37, 1, 22, 15097154, 23),
 ('0-999', 50, 1430352000, 55, 40, 1, 3, 11777971, 31),
 ('0-999', 51, 1489881600, 54, 36, 1, 21, 12833397, 25),
 ('0-999', 52, 1508976000, 15, 14, 5, 2, 2647155, 10),
 ('0-999', 53, 1504656000, 105, 93, 4, 8, 25223598, 75),
 ('0-999', 54, 1462665600, 5, 5, 1, 4, 1185919, 4),
 ('0-999', 55, 1488844800, 151, 74, 3, 20, 33994572, 27),
 ('0-999', 56, 1475971200, 19, 18, 1, 12, 5036761, 13),
 ('0-999', 57, 1468022400, 19, 16, 1, 12, 4593106, 15),
 ('0-999', 58, 1379030400, 38, 4, 2, 3, 7640168, 3),
 ('0-999', 59, 1492905600, 136, 95, 3, 53, 29179125, 57),
 ('0-999', 60, 1492473600, 66, 64, 2, 30, 16331347, 64),
 ('0-999', 61, 1478822400, 13, 9, 1, 7, 2891358, 8),
 ('0-999', 62, 1505779200, 33, 32, 2, 20, 8082346, 23),
 ('0-999', 63, 1503532800, 38, 36, 1, 2, 8507708, 34),
 ('0-999', 64, 1465862400, 105, 73, 1, 17, 21722739, 61),
 ('0-999', 65, 1509235200, 133, 108, 1, 27, 27865852, 87),
 ('0-999', 66, 1486425600, 81, 80, 1, 4, 17574203, 72),
 ('0-999', 67, 1509148800, 8, 8, 1, 5, 1676469, 7),
 ('0-999', 68, 1508976000, 174, 90, 1, 20, 40691418, 47),
 ('0-999', 69, 1507161600, 18, 15, 1, 11, 4255622, 13),
 ('0-999', 70, 1394755200, 74, 59, 1, 37, 16959911, 47),
 ('0-999', 71, 1472947200, 26, 24, 1, 3, 5819956, 23),
 ('0-999', 72, 1471996800, 197, 139, 1, 22, 44051231, 83),
 ('0-999', 73, 1494028800, 34, 32, 1, 12, 7571761, 31),
 ('0-999', 74, 1464998400, 5, 5, 1, 2, 1420634, 5),
 ('0-999', 75, 1463184000, 14, 14, 2, 2, 3386398, 12),
 ('0-999', 76, 1494288000, 32, 31, 4, 19, 6964996, 29),
 ('0-999', 77, 1425081600, 24, 15, 1, 10, 6482548, 12),
 ('0-999', 78, 1495152000, 16, 15, 1, 4, 5141065, 16),
 ('0-999', 79, 1483401600, 16, 15, 1, 2, 4064642, 14),
 ('0-999', 80, 1496793600, 66, 54, 1, 10, 16146953, 30),
 ('0-999', 81, 1381795200, 64, 38, 1, 11, 16180860, 24),
 ('0-999', 82, 1497830400, 25, 16, 1, 8, 8803027, 9),
 ('0-999', 83, 1498348800, 69, 48, 2, 4, 15764803, 22),
 ('0-999', 84, 1500940800, 39, 35, 1, 17, 10457609, 26),
 ('0-999', 85, 1509235200, 72, 63, 2, 33, 18025402, 45),
 ('0-999', 86, 1470355200, 42, 31, 1, 30, 10492328, 23),
 ('0-999', 87, 1503100800, 24, 22, 1, 13, 5561220, 20),
 ('0-999', 88, 1507161600, 66, 34, 1, 23, 14529680, 12),
 ('0-999', 89, 1489276800, 92, 85, 1, 2, 23229656, 82),
 ('0-999', 90, 1462233600, 103, 76, 2, 5, 22433711, 41),
 ('0-999', 91, 1428105600, 68, 54, 3, 9, 18184816, 37),
 ('0-999', 92, 1506988800, 8, 7, 1, 2, 2012078, 3),
 ('0-999', 93, 1495324800, 98, 82, 1, 27, 21802838, 67),
 ('0-999', 94, 1495324800, 124, 112, 1, 35, 27578241, 97),
 ('0-999', 95, 1506816000, 170, 133, 1, 50, 40155045, 90),
 ('0-999', 96, 1480464000, 19, 12, 1, 5, 3679250, 10),
 ('0-999', 97, 1346457600, 233, 56, 1, 16, 54634292, 42),
 ('0-999', 98, 1435881600, 81, 20, 1, 8, 26901306, 3),
 ('0-999', 99, 1493424000, 42, 38, 2, 3, 8381755, 35)]